//
// Global variables
//

// Colors
$colorClasses       = "gray" #DDDDDD, "blue" #09A0E6, "green" #89B83C, "yellow" #EFB116, "red" #cf2424, "black" #111
$linkColor          = $colorClasses[1][1] // Blue
$textColor          = $colorClasses[5][1] // Black

// Text
$baseFontFamily     = 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif
$baseFontSize       = 14px
$baseLineHeight     = 20px
$featFontFamily     = 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif
$featFontWeight     = 300

// Common
$gapSize            = 8px

